/* global style */
* {
    margin: 0;
    padding: 0;
    font-family: "Open Sans", sans-serif;
}

img {
    max-width: 100%;
    height: auto;
}



/* common style */
.container {
    max-width: 1200px;
    margin: 0 auto;
}

.flex {
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
    gap: 20px;
}

.grid {
    display: grid;
    gap: 30px;
}

.button {
    background-color: #1d4ed8;
    padding: 10px 20px;
    font-size: 14px;
    font-weight: 700;
    color: #ffffff;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

.outline {
    background-color: #ffffff;
    padding: 10px 20px;
    font-size: 14px;
    font-weight: 700;
    color: #1d4ed8;
    border-radius: 5px;
    border: 1px solid #1d4ed8;
    cursor: pointer;
}

.normal {
    background-color: #ffffff;
    padding: 10px 20px;
    font-size: 14px;
    font-weight: 700;
    color: #0d1b2a;
    border-radius: 5px;
    border: 1px solid #0d1b2a;
    cursor: pointer;
}



/* nav style */
.nav-root {
    background-color: white;
}

.nav-parent {
    background-color: white;
}

.nav-group {
    background-color: white;
    margin: 20px 0;
    align-items: center;
}

.nav-logo {
    background-color: white;
}

.nav-logo a {
    text-decoration: none;
}

.nav-menu {
    background-color: white;
}

.nav-menu-ul {
    list-style: none;
}

.nav-menu-ul li a {
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    color: #474747;
}



/* hero style */
.hero-root {
    background-color: red;

}

.hero-parent {
    background-color: green;

}

.hero-group {
    background-color: blue;
    /* background-image: url("../images/conf2026-banner.jpg"); */
    background-image: linear-gradient(to top right, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0)), url("../images/conf2026-banner.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 600px;
    align-items: center;
    text-align: center;
    color: white;
}

.hero-text {
    max-width: 800px;
    margin: 0 auto;
}

.hero-text h2 {
    margin: 20px 0;
    padding: 0;
    font-size: 60px;
    font-weight: 700;
    color: white;
}

.hero-text p {
    margin: 20px 0;
    padding: 0 100px;
    font-size: 16px;
    font-weight: 400;
    color: white;
}

.hero-button {
    margin: 200px 0 0 0;
}


/* speaker style */
.speaker-root {
    background-color: white;
    margin: 100px 0 0 0;
}

.speaker-parent {
    background-color: white;
}

.speaker-group {
    background-color: white;
}

.speaker-top {
    background-color: white;
    padding: 0 200px;
    text-align: center;
}

.speaker-top h2 {
    background-color: white;
    padding: 20px 0;
    font-size: 36px;
    font-weight: 700;
    color: #181818;
}

.speaker-bottom {
    background-color: white;
    padding: 20px 0;
    grid-template-columns: repeat(2, 1fr);
}

.speaker-bottom-card {
    background-color: white;
    padding: 0;
    border: 1px solid #e5e7eb;
    border-radius: 10px;

}

.speaker-bottom-card-img {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.speaker-bottom-card-p-1 {
    background-color: white;
    padding: 2px 20px;
    font-size: 14px;
    font-weight: 400;
    color: #2563eb;
}

.speaker-bottom-card-p-2 {
    background-color: white;
    padding: 2px 20px;
    font-size: 16px;
    font-weight: 700;
    color: #0d1b2a;
}

.speaker-bottom-card-p-3 {
    background-color: white;
    margin: 0 0 20px 0;
    padding: 2px 20px;
    font-size: 12px;
    font-weight: 400;
    color: #575757;
}



/* price style */
.price-root {
    background-color: white;
    margin: 100px 0 0 0;
}

.price-parent {
    background-color: white;
}

.price-group {
    background-color: white;
}

.price-top {
    background-color: white;
    padding: 0;
    text-align: center;
}

.price-top h2 {
    background-color: white;
    padding: 0;
    font-size: 36px;
    font-weight: 700;
    color: #0d1b2a;
}

.price-top p {
    background-color: white;
    padding: 10px 0;
    font-size: 14px;
    font-weight: 400;
    color: #575757;
}

.price-bottom {
    background-color: white;
    padding: 20px 100px;
}

.price-bottom-card {
    background-color: white;
    align-items: center;
}

.price-bottom-card p {
    background-color: white;
    padding: 0 0 2px 0;
    font-size: 12px;
    font-weight: 700;
    color: #888888;
}

.price-bottom-card h2 {
    background-color: white;
    padding: 0 0 2px 0;
    font-size: 36px;
    font-weight: 700;
    color: #0d1b2a;
}

.price-bottom-card h3 {
    background-color: white;
    padding: 0 0 20px 0;
    font-size: 10px;
    font-weight: 400;
    color: #888888;
}

.price-bottom-card ul {
    background-color: white;
    margin: 10px 0 0 10px;
    padding: 0;
}

.price-bottom-card li {
    background-color: white;
    padding: 0 0 10px 0;
    font-size: 12px;
    font-weight: 400;
    color: #333333;
}

.price-bottom-card li::marker {
    color: #2563eb;
}

.price-bottom-card button {
    margin: 20px 0 0 0;
    width: 100%;
}

.price-bottom-card-1 {
    background-color: white;
    padding: 30px;
    border: 1px solid #e5e7eb;
    border-radius: 10px;
    flex: 1;
}

.price-bottom-card-2 {
    background-color: #0d1b2a;
    padding: 30px;
    border: 1px solid #e5e7eb;
    border-radius: 10px;
    flex: 1
}

.price-bottom-card-2 p {
    background-color: #0d1b2a;
    color: #93c5fd;
}

.price-bottom-card-2 h2 {
    background-color: #0d1b2a;
    color: white;
}

.price-bottom-card-2 h3 {
    background-color: #0d1b2a;
    color: white;
}

.price-bottom-card-2 li {
    background-color: #0d1b2a;
    color: white;
}

.price-bottom-card-3 {
    background-color: white;
    padding: 30px;
    border: 1px solid #e5e7eb;
    border-radius: 10px;
    flex: 1
}



/* about me style */
.about-me-root {
    background-color: white;
    margin-top: 100px;
}

.about-me-parent {
    background-color: #FFF8F3;
}

.about-me-group {
    background-color: #FFF8F3;
    padding: 100px 200px;
    border-radius: 10px;
    text-align: center;
}

.about-me-top {
    background-color: #FFF8F3;
}

.about-me-top h2 {
    padding: 20px 0;
    font-size: 36px;
    font-weight: 700;
    color: #181818;
}

.about-me-top p {
    padding: 20px 0;
    font-size: 16px;
    font-weight: 400;
    color: #757575;
}

.about-me-bottom {
    background-color: #FFF8F3;
    padding: 20px;
}

.about-me-bottom-card {
    background-color: #FFF8F3;
    padding: 20px 0;
}

.about-me-bottom-card p {
    font-size: 16px;
    font-weight: 400;
    color: #757575;
}

.about-me-bottom-card h2 {
    font-size: 16px;
    font-weight: 700;
    color: #474747;
}



/* what i do style */
.what-i-do-root {
    background-color: white;
    margin-top: 100px;
}

.what-i-do-parent {
    background-color: white;
}

.what-i-do-group {
    background-color: white;
}

.what-i-do-top {
    background-color: white;
    padding: 0 200px;
    text-align: center;
}

.what-i-do-top h2 {
    background-color: white;
    padding: 20px 0;
    font-size: 36px;
    font-weight: 700;
    color: #181818;
}

.what-i-do-top p {
    background-color: white;
    padding: 20px 0;
    font-size: 16px;
    font-weight: 400;
    color: #757575
}

.what-i-do-bottom {
    background-color: white;
    padding: 20px 0;
}

.what-i-do-bottom-card {
    background-color: white;
    padding: 30px;
    border: 1px solid #181818;
    border-radius: 5px;
}

.what-i-do-bottom-card img {
    padding: 5px;
}

.what-i-do-bottom-card h2 {
    background-color: white;
    padding: 10px 0;
    font-size: 16px;
    font-weight: 700;
    color: #181818;
}

.what-i-do-bottom-card p {
    background-color: white;
    padding: 10px 50px 0px 0;
    font-size: 14px;
    font-weight: 400;
    color: #757575;
}



/* summary style */
.summary-root {
    background-color: white;
    margin: 100px 0 0 0;
}

.summary-parent {
    background-color: white;
}

.summary-header {
    background-color: white;
}

.summary-header-h2 {
    background-color: white;
    margin: 50px 0;
    font-size: 36px;
    font-weight: 700;
    color: #181818;
    text-align: center;
}

.summary-group {
    background-color: white;
}

.summary-left {
    background-color: white;
    flex: 1;
}

.summary-left-title {
    background-color: white;
}

.summary-left-title-h2 {
    background-color: white;
    margin: 20px 0;
    font-size: 36px;
    font-weight: 400;
    color: #181818;
}

.summary-left-card {
    background-color: white;
}

.summary-left-card-h2 {
    background-color: white;
    margin: 20px 0 0 0;
    font-size: 16px;
    font-weight: 800;
    color: #474747;
}

.summary-left-card-p-1 {
    background-color: white;
    margin: 10px 0 0 0;
    font-size: 14px;
    font-weight: 600;
    color: #474747;
}

.summary-left-card-p-2 {
    background-color: white;
    margin: 10px 200px 20px 0;
    font-size: 14px;
    font-weight: 400;
    color: #757575;
}

/* .summary-right {
    background-color: white;
    flex: 1;
}

.summary-right-title {
    background-color: white;
}

.summary-right-title-h2 {
    background-color: white;
    margin: 20px 0;
    font-size: 30px;
    font-weight: 700;
    color: #474747;
}

.summary-right-card {
    background-color: white;
}

.summary-right-card-h2 {
    background-color: white;
    margin: 20px 0 0 0;
    font-size: 25px;
    font-weight: 700;
    color: #474747;
}

.summary-right-card-p-1 {
    background-color: white;
    margin: 10px 0 0 0;
    font-size: 20px;
    font-weight: 600;
    color: #757575;
}

.summary-right-card-p-2 {
    background-color: white;
    margin: 10px 200px 20px 0;
    font-size: 16px;
    font-weight: 400;
    color: #757575;
} */

.summary-right {
    background-color: white;
    flex: 1;
}

.summary-right-title {
    background-color: white;
}

.summary-right-title-h2 {
    background-color: white;
    margin: 20px 0;
    font-size: 36px;
    font-weight: 400;
    color: #181818;
}

.summary-right-card {
    background-color: white;
}

.summary-right-card-h2 {
    background-color: white;
    margin: 20px 0 0 0;
    font-size: 16px;
    font-weight: 800;
    color: #474747;
}

.summary-right-card-p-1 {
    background-color: white;
    margin: 10px 0 0 0;
    font-size: 14px;
    font-weight: 600;
    color: #474747;
}

.summary-right-card-p-2 {
    background-color: white;
    margin: 10px 200px 20px 0;
    font-size: 14px;
    font-weight: 400;
    color: #757575;
}

.summary-footer {
    background-color: white;
    margin: 50px 0;
    text-align: center;
}



/* work style */
.work-root {
    background-color: white;
    margin-top: 100px;
}

.work-parent {
    background-color: white;
}

.work-group {
    background-color: white;
}

.work-top {
    background-color: white;
    padding: 0 200px;
    text-align: center;
}

.work-top h2 {
    background-color: white;
    padding: 20px 0;
    font-size: 36px;
    font-weight: 700;
    color: #181818;
}

.work-bottom {
    background-color: white;
    padding: 20px 0;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 100px;
    grid-template-areas:
        "two one four"
        "two one four"
        "two one five"
        "three one five"
        "three one five"
        "three six five"
        "three six five"
        "three six five";
}

.work-bottom img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.work-bottom-image-1 {
    grid-area: one;
}

.work-bottom-image-2 {
    grid-area: two;
}

.work-bottom-image-3 {
    grid-area: three;
}

.work-bottom-image-4 {
    grid-area: four;
}

.work-bottom-image-5 {
    grid-area: five;
}

.work-bottom-image-6 {
    grid-area: six;
}



/* contact style */
.contact-root {
    background-color: #FFF8F3;
    margin: 100px 0 0 0;
}

.contact-parent {
    background-color: #FFF8F3;
}

.contact-group {
    background-color: #FFF8F3;
}

.contact-left {
    background-color: #FFF8F3;
    margin: 50px 0;
    flex: 1;
}

.contact-left h2 {
    background-color: #FFF8F3;
    margin: 20px 0 0 0;
    font-size: 36px;
    font-weight: 700;
    color: #181818;
}

.contact-left p {
    background-color: #FFF8F3;
    margin: 20px 0 0 0;
    font-size: 16px;
    font-weight: 400;
    color: #474747;
}

.contact-left-icon {
    background-color: #FFF8F3;
    margin: 20px 0 0 0;
}

.contact-left-icon-awesome {
    background-color: #FFF8F3;
    margin: 20px 0 0 0;
}

.contact-left-icon-awesome span {
    font-size: 20px;
    color: #FD6E0A;
}

.contact-right {
    background-color: #FFF8F3;
    margin: 50px 0;
    flex: 1;
}

.contact-right h2 {
    background-color: #FFF8F3;
    margin: 20px 0 0 0;
    font-size: 36px;
    font-weight: 700;
    color: #181818;
}

.contact-right form input,
textarea {
    background-color: white;
    margin: 20px 0 0 0;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 400;
    color: #757575;
    display: block;
    width: 100%;
}

.contact-right form button {
    margin: 50px 0 0 0;
}

/* footer style */
.footer-root {
    background-color: #0d1b2a;
    margin: 100px 0 0 0;
}

.footer-parent {
    background-color: #0d1b2a;
}

.footer-group {
    background-color: #0d1b2a;
    padding: 20px 0 0 0;
}

.footer-left {
    background-color: #0d1b2a;
}

.footer-right {
    background-color: #0d1b2a;
}

.footer-right-icon-awesome {
    background-color: #0d1b2a;
}

.footer-right-icon-awesome span {
    font-size: 20px;
    color: white;
}

.footer-bottom p{
    padding: 10px 0;
    font-size: 14px;
    font-weight: 600;
    text-align: center;
}

.footer-bottom a{
    text-decoration: none;
    color: white;   
}
